<!DOCTYPE html>
@using Model.Models.User
@model CRegistrationData
@{
    Layout = "AdminLayout";
}
<html>
    <head>
    </head>
    <body>
        <div class="section center-align">
            @using (Html.BeginForm("Registration", "Admin", FormMethod.Post, new { @class="full-width" }))
            {
                <table width="100%">
                    <tr>
                        <td class="LeftHalfCell">
                            @Html.LabelFor(m => m.Login, "Логин", new { @class = "MainInfo" })
                        </td>
                        <td class="RightHalfCell">
                            @Html.TextBoxFor(m => m.Login, new { @class = "inp_field", @autocomplete = "off" })
                        </td>
                    </tr>
                    <tr>
                        <td class="LeftHalfCell">
                            @Html.LabelFor(m => m.Password, "Пароль", new { @class = "MainInfo" })
                        </td>
                        <td class="RightHalfCell">
                            @Html.TextBoxFor(m => m.Password, new { @class = "inp_field", @autocomplete = "off" })
                        </td>
                    </tr>
                    <tr>
                        <td class="LeftHalfCell">
                            @Html.LabelFor(m => m.FirstName, "Имя", new { @class = "MainInfo" })
                        </td>
                        <td class="RightHalfCell">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "inp_field", @autocomplete = "off" })
                        </td>
                    </tr>
                    <tr>
                        <td class="LeftHalfCell">
                            @Html.LabelFor(m => m.SecondName, "Фамилия", new { @class = "MainInfo" })
                        </td>
                        <td class="RightHalfCell">
                            @Html.TextBoxFor(m => m.SecondName, new { @class = "inp_field", @autocomplete = "off" })
                        </td>
                    </tr>
                    <tr>
                        <td class="LeftHalfCell">
                            @Html.LabelFor(m => m.Type, "Тип пользователя", new { @class = "MainInfo" })
                        </td>
                        <td class="RightHalfCell">
                            @Html.RadioButtonFor(m => m.Type, EUserType.UT_STUDENT)
                            @Html.Label(null, "Обучающийся", new { @class = "MainInfo" })
                        </td>
                    </tr>
                    <tr>
                        <td class="LeftHalfCell" />
                        <td class="RightHalfCell">
                            @Html.RadioButtonFor(m => m.Type, EUserType.UT_TEACHER)
                            @Html.Label(null, "Преподаватель", new { @class = "MainInfo" })
                        </td>
                    </tr>
                </table>
                <p><input type="submit" value="Зарегистрировать" class="SendButton" /></p>
            }
        </div>
    </body>
</html>
