@using Model.Models.User;
@{
    Layout = "AdminLayout";
}

<table class="TableStyle">
    <tr>
        <th width="5%" class="TableStyle">ID</th>
        <th width="15%" class="TableStyle">Логин</th>
        <th width="20%" class="TableStyle">Имя</th>
        <th width="20%" class="TableStyle">Фамилия</th>
        <th width="15%" class="TableStyle">Тип</th>
        <th width="25%" class="TableStyle">Операция</th>
    </tr>
    @foreach (var i in ViewBag.UserList)
    {
        <tr>
            <td class="TableStyle">
                @Html.Raw(i.user.ID)
            </td>
            <td class="TableStyle">
                @Html.Raw(i.login)
            </td>
            <td class="TableStyle">
                @Html.Raw(i.user.FirstName)
            </td>
            <td class="TableStyle">
                @Html.Raw(i.user.SecondName)
            </td>
            <td class="TableStyle">
                @{
                    switch (i.user.Type)
                    {
                        case EUserType.UT_ADMIN:
                            <text>
                                Администратор
                            </text>
                            break;
                        case EUserType.UT_STUDENT:
                            <text>
                                Обучающийся
                            </text>
                            break;
                        case EUserType.UT_TEACHER:
                            <text>
                                Преподаватель
                            </text>
                            break;
                    }
                }
            </td>
            <td class="TableStyle">
                @if (i.user.Type != EUserType.UT_ADMIN)
                {
                    @Html.ActionLink("Удалить", "RemoveUser", "Admin", new { login = i.login }, new { @class = "bar" })
                }
            </td>
        </tr>

    }
</table>
