<!DOCTYPE html>
@{
    Layout = "MainLayout";
}

<table class="bar">
	<tr>
		<td width="25%" class="bar">
            @Html.ActionLink("Профиль", "Profile", "Student", null, new {@class="bar"})
		</td>
		<td width="25%" class="bar">
            @Html.ActionLink("Работы", "WorkList", "Student", null, new {@class="bar"})
		</td>
		<td width="25%" class="bar">
            @Html.ActionLink("Успеваемость", "Statist", "Student", null, new {@class="bar"})
		</td>
		<td width="25%" class="bar">
           	@Html.ActionLink("Выйти", "Exit", "Home", null, new {@class="bar"})
		</td>
	</tr>
</table>
<br><br><br>
<div>@RenderBody()</div>