@{
  Layout = "TeacherLayout";
}

@if (ViewBag.Details != null)
{
	@Html.Raw("<table class=\"TableStyle\"><tr>");
	@Html.Raw("<th width=\"40%\" class=\"TableStyle\">Обучающийся</th>");
	@Html.Raw("<th width=\"10%\" class=\"TableStyle\">Набранный балл</th>");
	@Html.Raw("<th width=\"20%\" class=\"TableStyle\">Затраченное время</th>");
	@Html.Raw("<th width=\"30%\" class=\"TableStyle\">Дата завершения</th></tr>");
	@foreach (var curWork in ViewBag.Details.Results)
	{
		@Html.Raw("<td class=\"TableStyle\">");
		@Html.ActionLink((string)curWork.Name, "UserResult", "Teacher", new { TestID = ViewBag.Details.ID, UserID = curWork.ID }, new { @class = "TableLink" })
		@Html.Raw("</td><td class=\"TableStyle\">" + curWork.Score + "</td>");
		@Html.Raw("<td class=\"TableStyle\">" + curWork.Time + " сек.</td>");
		@Html.Raw("<td class=\"TableStyle\">" + curWork.Date + "</td></tr>");
	}
	@Html.Raw("<tr><th class=\"TableStyle\">Средние значения</th>");
	@Html.Raw("<th class=\"TableStyle\">" + ViewBag.Details.MiddleScore + "</th>");
	@Html.Raw("<th class=\"TableStyle\">" + ViewBag.Details.MiddleTime + " cек.</th></tr>");
	@Html.Raw("</table>");
}
