@using Model.Models.Statistics.Testing;
@{
  Layout = "TeacherLayout";
}
<table width="100%" class="TableStyle">
    <tr>
        <th width="10%" class="TableStyle">Блок</th>
        <th width="10%" class="TableStyle">Задание</th>
        <th width="25%" class="TableStyle">Ответ пользователя</th>
        <th width="25%" class="TableStyle">Правильный ответ</th>
        <th width="10%" class="TableStyle">Балл</th>
        <th width="20%" class="TableStyle">Время</th>
    </tr>
    @foreach (CBlockResult curBlock in ViewBag.TestResult.Results)
    {
        <tr>
            @{
                string Span = "<td class=\"TableStyle\" rowspan=\"" + curBlock.TaskResults.Count + "\">" + curBlock.BlockID + "</td>";
                @Html.Raw(Span);
            }
            <td class="TableStyle">
                1
            </td>
            @switch (curBlock.TaskResults[0].Score)
            {
                case 1:
                    @Html.Raw("<td class=\"Correct TableStyle\">")
                    break;
                case 0:
                    @Html.Raw("<td class=\"Error TableStyle\">")
                    break;
                default:
                    @Html.Raw("<td class=\"AlmostCorrect TableStyle\">")
                    break;
            }
            @{
                string[] FAnswers = curBlock.TaskResults[0].Answer.Split('\n');
                foreach (string curAnswer in FAnswers)
                {
                    @Html.Raw(curAnswer + "<br>")
                }
            }
            @Html.Raw("</td>")

            @switch (curBlock.TaskResults[0].Score)
            {
                case 1:
                    @Html.Raw("<td class=\"Correct TableStyle\">")
                    break;
                case 0:
                    @Html.Raw("<td class=\"Error TableStyle\">")
                    break;
                default:
                    @Html.Raw("<td class=\"AlmostCorrect TableStyle\">")
                    break;
            }
            @{
                string[] FCorrectAnswers = curBlock.TaskResults[0].CorrectAnswer.Split('\n');
                foreach (string curAnswer in FCorrectAnswers)
                {
                    @Html.Raw(curAnswer + "<br>")
                }
            }
            @Html.Raw("</td>")

            <td class="TableStyle">
                @curBlock.TaskResults[0].Score
            </td>

            <td class="TableStyle">
                @curBlock.TaskResults[0].Time
            </td>
        </tr>
        @for (int i = 1; i < curBlock.TaskResults.Count; i++)
        {
            <tr>
                <td class="TableStyle">
                    @Html.Raw(i + 1)
                </td>
                @switch (curBlock.TaskResults[i].Score)
                {
                    case 1:
                        @Html.Raw("<td class=\"Correct TableStyle\">")
                        break;
                    case 0:
                        @Html.Raw("<td class=\"Error TableStyle\">")
                        break;
                    default:
                        @Html.Raw("<td class=\"AlmostCorrect TableStyle\">")
                        break;
                }
                @{
                    string[] Answers = curBlock.TaskResults[i].Answer.Split('\n');
                    foreach (string curAnswer in Answers)
                    {
                        @Html.Raw(curAnswer + "<br>")
                    }
                }
                @Html.Raw("</td>")


                @switch (curBlock.TaskResults[i].Score)
                {
                    case 1:
                        @Html.Raw("<td class=\"Correct TableStyle\">")
                        break;
                    case 0:
                        @Html.Raw("<td class=\"Error TableStyle\">")
                        break;
                    default:
                        @Html.Raw("<td class=\"AlmostCorrect TableStyle\">")
                        break;
                }
                @{
                    string[] CorrectAnswers = curBlock.TaskResults[i].CorrectAnswer.Split('\n');
                    foreach (string curAnswer in CorrectAnswers)
                    {
                        @Html.Raw(curAnswer + "<br>")
                    }
                }
                @Html.Raw("</td>")

                <td class="TableStyle">
                    @curBlock.TaskResults[i].Score
                </td>

                <td class="TableStyle">
                    @curBlock.TaskResults[i].Time
                </td>
            </tr>
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="TableStyle">
            @Html.Raw("Итог: " + ViewBag.TestResult.Scores.Score + " из " + ViewBag.TestResult.Scores.MaxScore)
        </td>
    </tr>
</table>